<div th:with="disableFields=!${editMode} and ${#authorization.expression('hasRole(''ROLE_USER'')')}">

<form class="form" role="form" th:object="${userForm}" th:action="${editMode} ?@{/editUser} :@{/userForm}" method="post">


    <input class="form-control" type=hidden th:field="${userForm.usuId}"  th:if="${editMode}">
	<input class="form-control" type=hidden name="password" value="xxxx" th:if="${editMode}">
	
	<input class="form-control" type=hidden name="confirmPassword" value="xxxx" th:if="${editMode}">

	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">cop_nit</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${userForm.copNit}">
			<div class="alert-danger" th:if="${#fields.hasErrors('copNit')}" th:errors="*{copNit}">Name Error</div>
		</div>
	</div>
	
	<!-- <div class="form-group row">
		<label th:text="Copropiedad" class="col-lg-3 col-form-label form-control-label"></label>
		<div class="col-lg-9">
			<select th:field="${userForm.copropiedades}" class="form-control" th:size="3" >
				<option th:each="copropiedad :${copropiedades}" th:value="${copropiedad.copId}" th:text="${copropiedad.copNombreCopropiedad}">
				</option>
			</select>
		
		</div>
	</div>
	
   <div class="form-group row">
		<label th:text="Perfil" class="col-lg-3 col-form-label form-control-label"></label>
		<div class="col-lg-9">
			<select th:field="${userForm.perfiles}" class="form-control" th:size="3" >
				<option th:each="perfil :${perfiles}" th:value="${perfil.perId}" th:text="${perfil.perNombrePerfil}">
				</option>
			</select>
		</div>
	</div> -->
	

	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">per_id</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${userForm.perId}">
			<div class="alert-danger" th:if="${#fields.hasErrors('perId')}" th:errors="*{perId}">Name Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">pro_cc</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${userForm.proCc}">
			<div class="alert-danger" th:if="${#fields.hasErrors('proCc')}" th:errors="*{proCc}">Name Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Username</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${userForm.username}">
			<div class="alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</div>
		</div>
	</div>
	<div class="form-group row" th:if="${editMode==null or editMode==false}">
		<label class="col-lg-3 col-form-label form-control-label">Password</label>
		<div class="col-lg-9">
			<input class="form-control" type="password" th:field="${userForm.usuClave}">
			<div class="alert-danger" th:if="${#fields.hasErrors('usuClave')}" th:errors="usuClave">Name Error</div>
		
		</div>
	</div>
	<div class="form-group row" th:if="${editMode==null or editMode==false}">
		<label class="col-lg-3 col-form-label form-control-label">Confirm</label>
		<div class="col-lg-9">
			<input class="form-control" type="password" th:field="${userForm.confirmPassword}">
			<div class="alert-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Name Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Estado</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${userForm.usuEstado}">
			<div class="alert-danger" th:if="${#fields.hasErrors('usuEstado')}" th:errors="*{usuEstado}">Name Error</div>
		</div>
	</div>
	
	<div class="form-group row">
		<div class="col-lg-12 text-center">
			<a class="btn btn-secondary"  th:href="@{'/editUser/cancel'}">Cancel</a>
			<button type="button" class="btn btn-secondary" data-toggle="modal" th:if="${editMode}" data-target="#changePasswordModal">Change Password</button>
			<input type="submit" class="btn btn-primary"
				value="Save Changes" th:value="${editMode}?'Save User':'Create User'">
		</div>
	</div>
	<div class="alert alert-danger text-center" th:if="${formErrorMessage}" th:text="${formErrorMessage}">Error MEssage</div>
	<div class="alert alert-danger text-center d-none" id="formSuccess" th:if="${editMode}">Sucess MEssage</div>
</form>
</div>