<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="plantilla/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="plantilla/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
            
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Copropiedad: <span th:text="${copNombre}"></span></h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Consulta Comunicados</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Descripción</th>
                                            <th>Estado</th>
                                            <th>Descripcion</th>
                                            <th>Descargar Archivo</th>
                                            <th>Visualizar Archivos</th>
                                            <th>Modificar Estado</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Descripción</th>
                                            <th>Estado</th>
                                            <th>Descripcion</th>
                                            <th>Descargar Archivo</th>
                                            <th>Visualizar Archivos</th>
                                            <th>Modificar Estado</th>
                                        </tr>
                                    </tfoot>
                                    <tbody >
                                       <tr th:each="comu: ${comunicadoslist}" >
                                            <td th:text="${comu.comuNombre}"></td>
                                            <td th:text="${comu.comuFecha}"></td>
                                            <td th:text="${comu.comuEstado}"></td>
                                            <td th:text="${comu.comuDescripcion}"></td>                                         
                                            <td>
                                            <a class="btn btn-primary" th:href="${comu.comuArchivo}">Descargar Comunicado</a>
                                            </td>
                                            <td>
                                            <a class="btn btn-primary" th:href="${comu.comuVisualizacion}" target="_blank">Visualizar Comunicado</a>
                                            </td>
                                            <td>
	                                             <div th:if="${activarRespuesta}">
		                                            <form class="user" role="form" action="modComunicados" method="get">
		                                                <input id="comunic" type="hidden" name="comunic" th:value="${comu.comuLog}" />   
		                                                <input type="submit" class="btn btn-primary" value="Modificar">
		                                            </form>
		                                         </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
