<!doctype html>
<html lang="en">
<head>
    <title>SpringHow html to pdf</title>
    <!--  <link rel="stylesheet" href="style.css">-->
    <style>
    body>div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
div>p {
    font-family: Roboto,serif;
    font-size: 18px;
}
table {
    border-spacing: 0;
    width: 100%;
}
table,th,td {
    border: solid black 1px ;
    margin: 0;
}
    
    </style>
</head>
<body>
     <div>
        <p >Lorum ipsum some text before image. Lorum ipsum some text before image. Lorum ipsum some text before image. Lorum ipsum some text before image. Lorum ipsum some text before image. Lorum ipsum some text before image. Lorum ipsum some text before image. Lorum ipsum some text before image. </p>
        <img src="https://drive.google.com/file/d/1OijfyWJYG_eURikIoYO45x7BFiy_4H3t/view" alt="Orange">
        <p >Lorum ipsum some text after image. Lorum ipsum some text after image. Lorum ipsum some text after image. Lorum ipsum some text after image. Lorum ipsum some text after image. Lorum ipsum some text after image. Lorum ipsum some text after image. Lorum ipsum some text after image. Lorum ipsum some text after image.</p>
        <table>
            <tr><th>Product</th><th>Quantity</th><th>Price</th><th>Total</th></tr>
            <tr><td>Jeans</td><td>2</td><td>10.99</td><td>20.98</td></tr>
            <tr><td>Shirt</td><td>2</td><td>7.99</td><td>14.98</td></tr>
        </table>
     </div>
</body>
</html>