<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Comunicados</title>

<!-- Custom fonts for this template -->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="plantilla/css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="plantilla/vendor/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js"
	type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css"
	rel="stylesheet" type="text/css" />
	
	 <link href="css/menusisapco.css" rel="stylesheet">
	 
	 <style>
  		#header {
		  background: rgba(40, 58, 90, 0.9)!important;
		}
  </style>	 
  <!-- Vendor CSS Files -->
  <link href="plantillaindex/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="plantillaindex/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="plantillaindex/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="plantillaindex/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="plantillaindex/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="plantillaindex/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="plantillaindex/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">  
    
  <!-- Template Main CSS File -->
  <link href="plantillaindex/assets/css/style.css" rel="stylesheet">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<!--  <ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar">
			<div th:include="administrador/menu.html" th:remove="tag"></div>
		</ul>-->
		<!-- End of Sidebar -->



		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">
			
			 <!-- ======= Header ======= -->
				  <header id="header" class="fixed-top ">
				    <div class="container d-flex align-items-center">
				
				      <h1 class="logo me-auto">			      
				        
				         <form action="/admin" method="get" id="home34343" Style="float:left">   
			                <input id="copId" type="hidden" name="copId" th:value="${copIdEncryted}" />            
			                <button id="54545" class="btn btn-link rounded-circle mr-3" >
			                        <i class="fa fa-bars"></i>
			                        <img class="imagenLogo" style="width: 100%!important" src="img/sisapco.png">
			                </button>
			             </form>
			             
				        <form action="/documentacion" method="get" id="home34343" Style="float:left">
	                       <input id="copId" type="hidden" name="copId" th:value="${copIdEncryted}" />
	                        <button id="sidebarToggleTop" class="btn btn-link d-md rounded-circle mr-3">
	                            <i class="fa fa-bars"></i>
	                            <img style="width:100%!important" src="img/imagenatras.png">
	                        </button>
	                    </form>   
				      
				      </h1>				
				      <nav id="navbar" class="navbar">
				        <ul>
				          <li><a class="getstarted scrollto" href="#" th:href="@{/logout}"><span th:text="${#authentication.getPrincipal().getUsername()}" ></span><span> - </span><span> Salir  </span><span class="float-right"></span></a></li>
				        </ul>
				        <i class="bi bi-list mobile-nav-toggle"></i>
				      </nav><!-- .navbar -->
				
				    </div>
				  </header><!-- End Header -->

				<!-- Begin Page Content -->
				<div class="container-fluid">
					<br><br><br><br><br><br>

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">
						Comunicados: <span></span>
					</h1>

					<!-- DataTales Example -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Cargar comunicados:</h6>
						</div>
						<div class="card-body">
							<form class="user needs-validation" novalidate role="form" th:object="${comunicadosForm}" th:action="@{${rutaFormulario}}" method="post" enctype="multipart/form-data">
							
								<div th:if="${error}" class="alert alert-danger" role="alert">Se presento
									un error, inténtelo nuevamente.</div>
								<div th:if="${errorcampos}" class="alert alert-danger" role="alert">Se presento
									un error, por favor ingrese los datos en campos que son
									obligatorios de forma correcta.</div>

								<div th:if="${bien}" class="alert alert-success" role="alert">El comunicado se cargo exitoso.</div>
	
								<input class="form-control" type=hidden th:value="${copNit}" id="copNit" name="copNit">
                                <input class="form-control" type=hidden th:value="${copNombre}" id="copNombre" name="copNombre">
                                <input id="activarmodalactualizar" type="hidden" name="activarmodalactualizar" th:value="${activarmodalactualizar}" />
                                <input class="form-control" type=hidden id="comuId" th:field="${comunicadosForm.comuId}">

								<div class="form-group row">
									<div class="col-sm-6 mb-3 mb-sm-0" >
											<span>Nombre del comunicado<span
											style="color: #ff0000">*</span></span> <input type="text"
											 class="form-control form-control-user"
											id="comuNombre" placeholder="" th:field="${comunicadosForm.comuNombre}" th:readonly="${inactivarcampos}" required >
										<div class="invalid-feedback">Ingresa un nombre valido.</div>
									
									</div>
									<div class="col-sm-6">
										<span>Descripción<span
											style="color: #ff0000">*</span></span> 
											<textarea 
											 class="form-control "
											id="comuDescripcion" 
											placeholder="" 
											th:field="${comunicadosForm.comuDescripcion}"
											 th:readonly="${inactivarcampos}" required/>
										<div class="invalid-feedback">Ingresa una descripción valido.</div>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-6 mb-3 mb-sm-0">
										<span>Fecha de carga:</span> <input type="text"
											class="form-control form-control-user" id="comuFechas"
											placeholder="" th:field="${comunicadosForm.comuFecha}" disabled>
										<div class="invalid-feedback">Ingresa una fecha.</div>
										<input id="comuFecha" type="hidden" name="comuFecha" th:field="${comunicadosForm.comuFecha}" />
									</div>
									<div class="col-sm-6">
										<span>Estado:</span>								
											 <select class="form-control" id="comuEstado" th:field="${comunicadosForm.comuEstado}" placeholder="Seleccione el estado" required>
	                                              <option value="" selected>Seleccione</option>
	                                              <option value="1">Activo</option>
											      <option value="0">Inactivo</option>
                                            </select> 
									</div>
								</div>
								
								<!-- seccion para boton de cargar archivo contrato -->
								<div class="form-group row">
									<div class="col-sm-6 mb-3 mb-sm-0" th:if="${modificar}">
										<span>Adjuntar archivo<span style="color: #ff0000">*</span>
										</span>
										<div class=" form-group  " aria-label="Default select example">
										
										    <input class="form-control" type=hidden value=".." id="comuArchivo" th:field="${comunicadosForm.comuArchivo}">
											<input id="comuArchivos" type="file"
												style="display: none" name="comuArchivos" >
											<div class=" form-group row">
												<input id="comuArchivos"
													class="form-control form-control-user" type="text" required>
												<a class="btn btn-file  btn btn-secondary "><i
													class="fa fa-folder-open-o "></i> Seleccionar</a>
												<div class="invalid-feedback">Seleccione un comunicado.</div>
											</div>
										</div>
									</div>
									<script type="text/javascript">
										// http://duckranger.com/2012/06/pretty-file-input-field-in-bootstrap/ 
										// Cuando se pulsa el falso manda el click al autentico
										$('.btn-file').on('click', function() {
											$(this).parent().prev().click();
										});
										// Cuando el autentico cambia hace cambiar al falso
										$('input[type=file]')
												.on(
														'change',
														function(e) {
															$(this)
																	.next()
																	.find(
																			'input')
																	.val(
																			$(
																					this)
																					.val());
														});
									</script>

								</div>


								<!-- ********************************** -->


								<hr>
								<input type="submit" class="btn btn-primary"
									value="Guardar Comunicado">
								<hr>
							</form>

						</div>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Sisapco</h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Sisapco</span></strong>. All Rights Reserved
      </div>

    </div>
  </footer>
  <!-- End Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i> <img style="width: 100% !important"
		src="img/to-top.png">
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready
					to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal Campos obligatorios-->
<div class="modal fade" id="camposObligaroriosModal" tabindex="-1" role="dialog" aria-labelledby="camposObligaroriosModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Campos obligatorios</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Por favor ingrese todos los campos que son obligatorios.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Guardar-->
<div class="modal fade" id="guardarModal" tabindex="-1" role="dialog" aria-labelledby="guardarModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Guardado..</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="imagenLogoAdmin" style="width:50%!important" src="img/cargando2.gif">
      </div>
      <div class="modal-footer">
        <!--  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
      </div>
    </div>
  </div>
</div>

<!-- --- -->

<!-- Modal Guardar confirmar -->
	<div class="modal fade" id="confirmarGuardarModal" tabindex="-1" role="dialog" aria-labelledby="guardarModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Registro Guardado</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        Se cargo el comunicado de forma exitosa.
	      </div>
	      <div class="modal-footer">
	      <form th:action="@{${rutamenu}}" method="get">
	         <input id="copId" type="hidden" name="copId" th:value="${copIdEncryted}" />
	         <input type="submit" class="btn btn-primary" value="Close">
	      </form>
	      </div>
	    </div>
	  </div>
	</div>

<!-- Modal Guardar confirmar error-->
	<div class="modal fade" id="confirmarGuardarErrorModal" tabindex="-1" role="dialog" aria-labelledby="guardarModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Registro con error</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	       Se presento un error al guardar el registro, por favor verifique los datos e intente nuevamente.
	      </div>
	      <div class="modal-footer">
	         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

<!-- --- -->
	
	
	<!-- Bootstrap core JavaScript-->
	<script src="plantilla/vendor/jquery/jquery.min.js"></script>
	<script src="plantilla/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="plantilla/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="plantilla/js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="plantilla/vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="plantilla/vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="plantilla/js/demo/datatables-demo.js"></script>
	<script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function() {
			'use strict'

			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.querySelectorAll('.needs-validation')
			
			//Activamos el modal de confirmacion guardar
	           var activarmodalactualizar = document.getElementById("activarmodalactualizar").value;
	           if(activarmodalactualizar=="A"){
	        	   $('#confirmarGuardarModal').modal('show');
	        	   document.getElementById("activarmodalactualizar").value="N";
	           }
	           if(activarmodalactualizar=="E"){
	        	   $('#confirmarGuardarErrorModal').modal('show');
	        	   document.getElementById("activarmodalactualizar").value="N";
	           }

				// Loop over them and prevent submission
				Array.prototype.slice.call(forms).forEach(function(form) {
					form.addEventListener('submit', function(event) {
						if (!form.checkValidity()) {
							event.preventDefault()
							event.stopPropagation()
							$('#camposObligaroriosModal').modal('show');
						}else{
							$('#guardarModal').modal('show');
						}
						form.classList.add('was-validated')
					}, false)
				})
			})()
	</script>
	
  <!-- Template Main JS File -->
  <script src="plantillaindex/assets/js/main.js"></script>
</body>

</html>