<<<<<<< HEAD
.titulo{
   font-weight:bold!important;
}
.saltoDeLinea {
	white-space:pre-wrap!important;
}

.estiloLetra{	
	font-family:arial!important;
	display: block!important;
    font-size: 87.5%!important;
    color: #3a3b45!important;
}
=======
.titulo{
   font-weight:bold!important;
}
.saltoDeLinea {
	white-space:pre-wrap!important;
}

.estiloLetra{	
	font-family:arial!important;
	display: block!important;
    font-size: 87.5%!important;
    color: #3a3b45!important;
}
>>>>>>> branch 'master' of https://github.com/sisapco/sisapco.git
}